Assignment # 1 Summited by Sahar Ejaz

1: Variable

In [1]:
# Create variables

name = "Sahar"
age = 25

print(f"My name is {name} and I am {age} years old.")

My name is Sahar and I am 25 years old.

In [2]:
# print value in third variable

x = 10
y = 20
z = y, x
print(z)

(20, 10)

2: Operators

In [3]:
# Take two numbers input from user
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

# Take two numbers from user
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

Enter first number: 7
Enter second number: 8
Sum = 15
Difference = -1
Product = 56
Quotient = 0.875
Enter first number: 2
Enter second number: 8
Sum = 10
Difference = -6
Product = 16
Quotient = 0.25

In [4]:
# Check even or odd
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 2
Even number

3: Conditions

In [5]:
# Eligible to vote
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter your age: 42
Eligible to vote

4: Loops

In [9]:
# Print numbers 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# Multiplication table
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [11]:
# Sum 1 to n
n = int(input("Enter a number: "))
total = 0
for i in range(1, n+1):
    total += i
print("Sum =", total)

Enter a number: 4
Sum = 10

5: Functions

In [13]:
# Greet function
def greet(name):
    print(f"Hello, {name}!")

greet("Sahar")

Hello, Sahar!

In [15]:
# Prime check function
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

print(is_prime(7))   # True
print(is_prime(10))  # False

True
False

6: Lists

In [16]:
# List of fruits
fruits = ["Apple", "Banana", "Mango", "Orange", "Grapes"]
print("Second fruit:", fruits[1])
print("Last fruit:", fruits[-1])

Second fruit: Banana
Last fruit: Grapes

In [17]:
# Add and remove fruit
fruits.append("Pineapple")
fruits.pop(0)
print("Updated fruits:", fruits)

Updated fruits: ['Banana', 'Mango', 'Orange', 'Grapes', 'Pineapple']

In [18]:
# Max and Min from integers list
numbers = [12, 45, 2, 67, 34]
print("Max:", max(numbers))
print("Min:", min(numbers))

Max: 67
Min: 2

7: Dictionary

In [20]:
# Dictionary with details
person = {"name": "Sahar", "age": 25, "city": "Karachi"}
print(person)

# Add new key
person["country"] = "Pakistan"
print(person)

{'name': 'Sahar', 'age': 25, 'city': 'Karachi'}
{'name': 'Sahar', 'age': 25, 'city': 'Karachi', 'country': 'Pakistan'}

8: Set

In [21]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [22]:
# Remove duplicates from list
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print("Unique list:", unique_nums)

Unique list: [1, 2, 3, 4, 5]

9: Tuples

In [26]:
# Tuple with numbers
t = (10, 20, 30, 40, 50)
print("First element:", t[0])
print("Last element:", t[-1])

# Check element exists
element = 30
if element in t:
    print(f"{element} exists in tuple")
else:
    print(f"{element} does not exist in tuple")

First element: 10
Last element: 50
30 exists in tuple

10: Exception Handling

In [28]:
# Divide two numbers with ZeroDivisionError
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    print("Result =", a / b)
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")

# Handle ValueError
try:
    n = int(input("Enter a number: "))
    print("You entered:", n)
except ValueError:
    print("Error: That is not a valid number!")

Enter numerator: 67
Enter denominator: 0
Error: Cannot divide by zero!
Enter a number: 87
You entered: 87